* {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

img{
  width: 100%;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: 0px;
} 

.itemName {
  position: relative;
  padding: 0px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  color: white;
  background-color: black;
  opacity: .7;
  transition: bottom ease-out 1.5s;
}

.itemName:hover .overlay {
  opacity: .8;
  bottom: 0;
}

/*  @media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */
